<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="musiccomposerv0._5.Properties.Settings.musiccomposerConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=musiccomposer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>